body{
    font-family: "Montserrat";
}

h1{
    font-family: "Montserrat";
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat";
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
}
h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}
/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.download-button{
    margin: 5% 3% 5%;
}

/* Title Image */
.title-image{
    width: 21%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
/*  Features Section */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.features-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}
 /* Pricing Section*/
 #pricing{
    padding: 100px;
    text-align: center;
 }
.pricing-column{
    padding: 3% 2%;
 }
  /* CTA Section*/
 #cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 7% 15%;
}
.cta-heading{
    padding: 4%;
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}
.cta-button{
    margin: 2% 1% 4%;
}
 /* Footer Section*/

#footer{
    text-align: center;
    padding: 2% 15%;
}
.social-icon{
    margin: 20px 10px;

}
@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    h1{
        font-family: "Montserrat";
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
    }
    .nav-item{
        text-align: right;    }
    
    h2{
        font-family: "Montserrat";
        font-size: 3rem;
        line-height: 1.5;
        font-weight: bold;
        }
    .download-button{
        margin: 8% 1% 1%;
    }
}
